$fontColor:rgb(255,255,255);

$backgroundColor:rgb(28,37,47);

$fontBanner:"Rubik Dirt", system-ui,Arial, Helvetica, sans-serif;
$fontStyle:"Mogra", Arial, Helvetica, sans-serif;

%elementoGral{    
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

@mixin Elemento($width,$display,$direction){
    width: $width;
    display: $display;
    flex-direction: $direction;    
}

body {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: $fontColor;
    font-family: $fontStyle;
    margin:0;
    background-color: $backgroundColor;
}

header{

    @include Elemento(100%,flex ,row);
    justify-content:space-between;
    > img {
        width: clamp(80px,10vw,160px);
    }

    i{            
        img{
            width: clamp(20px,4vw,50px);
            cursor: pointer;            
        }
    }
}

main{
    .banner{
        @include Elemento(100%,flex ,column);
        
        img{
            width: 100vw;
            position: relative;
            height: 100px;
            object-fit: cover;
            
            object-position: 100% 28%;
        }
        h2{
            position: absolute;
            font-family: $fontBanner;
            @extend %elementoGral;
            width: 100%;    
            font-weight:100;
            font-size:2.5rem;
            color: rgb(0,0,0);
            margin: 2%; 
            text-shadow:-0.06rem -0.06rem  0 rgb(255, 179, 0), 0.06rem 0.06rem  0 rgb(255, 179, 0), -0.3rem -0.3rem 0 rgb(175, 20, 12);
            letter-spacing: 0.5rem;
                         
        }
        p{
            font-size: 2rem;
            @extend %elementoGral;
        }
    }
    .products{
        
        @extend %elementoGral;
        margin: 0 auto;
        padding: 2% 17vw;
        background-image: url(../img/FondoWeb3.png);
        background-size: 100vw 100vw;
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        grid-template-columns: repeat(3,minmax(200px,1fr));
        grid-template-rows: repeat(1,minmax(100px,1fr));
        justify-items: center;
        row-gap: 10px;
    }
    .cart{
        @include Elemento(30vw,flex,column );
        color: rgb(0,0,0);
        background-color: rgb(238, 253, 255);
        
        height: 100%;
        position: fixed;
        right: -100%;   /*    SE UTILIZARÁ JAVA PARA LA SECCIÓN DEL CARRITO QUE SE OCULTARÁ    */
        top: 1vh;
        box-shadow: -19px -1px 22px -15px rgba(245, 197, 6, 0.796);
        column-gap: 1px;
        background-image: url("../img/banner2.png");
        h2{
            @include Elemento(100%,flex ,row);
            font-size: clamp(8px,0.6rem,1rem);
            font-weight: 600;                
        }
        div{
            @include Elemento(100%,flex ,row);
            text-align: center;
            border-bottom: 1px solid #000000;
            justify-content: space-between;
            padding: 15px;
            
            img{
                width: clamp(50px,5.6em,80px);
                border-radius: 40%;
            }
            p{
                font-weight: 300;
                font-size: clamp(10px, 1rem, 20px);
            }
            i{
                img{
                    width: clamp(20px,3em,60px);
                    cursor: pointer;
                }
            }
        }
    }
}